@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/Alternative files/AvenirNextLTPro.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/Alternative files/AvenirNextLTProBold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/fonts/Alternative files/AvenirNextLTProDemi.ttf");
  font-weight: 600;
  font-style: normal;
}
* {
  font-family: AvenirNext;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

/*Index navigation*/
@media (min-width: 768px) {
  .home {
    display: flex;
  }
}
.home-logo {
  text-align: center;
  background-color: #323232;
  padding: 1rem;
}
@media (min-width: 768px) {
  .home-logo {
    text-align: center;
    background-color: #323232;
    padding: 2.25rem;
  }
}
.home__image {
  text-align: center;
  width: 50%;
  width: 7.5rem;
  height: 1.25rem;
}
.home__link {
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .home__link {
    text-decoration: none;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}
.home-nav {
  background-color: #323232;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .home-nav {
    width: 100%;
  }
}
.home-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
@media (min-width: 768px) {
  .home-nav__list {
    width: 50%;
  }
}
.home-nav__item {
  width: 50%;
  list-style: none;
  text-align: center;
  padding: 1rem;
  margin: 0;
}
@media (min-width: 768px) {
  .home-nav__item {
    width: 30%;
    padding: 2.25rem;
    margin: 0;
    list-style: none;
    text-align: center;
  }
}
.home-nav__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .home-nav__link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
.home-nav__selected {
  border-bottom: 0.313rem solid #FFFFFF;
}

.hero {
  margin-top: 0;
  padding: 0;
  width: 100%;
  height: 25rem;
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
}
.hero__text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #FFFFFF;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .hero__text {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    color: #FFFFFF;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.hero__overlay {
  width: 100%;
  height: 25rem;
  display: flex;
  align-items: center;
  background-color: rgba(50, 50, 50, 0.5);
  z-index: 1;
  position: absolute;
}

.musician {
  margin: 1rem;
}
@media (min-width: 768px) {
  .musician {
    margin: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .musician {
    margin: max(2.25rem, 5%);
  }
}
.musician__header {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #323232;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 11rem;
}
@media (min-width: 768px) {
  .musician__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    color: #323232;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.musician-imgcontainer {
  text-align: center;
  margin: 0;
  padding: 0;
}
.musician-imgcontainer__img {
  max-width: 92%;
  max-height: 92%;
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .musician-imgcontainer__img {
    padding-top: 0;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.musician__subheader {
  margin: 1rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  color: #323232;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
  text-align: left;
}
@media (min-width: 768px) {
  .musician__subheader {
    margin: 2.25rem;
    padding-top: 3rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .musician__subheader {
    margin: auto;
  }
}
.musician-bodytext__container {
  margin: 1rem;
}
@media (min-width: 1280px) {
  .musician-bodytext__container {
    margin: auto;
  }
}
@media (min-width: 768px) {
  .musician-bodytext__container {
    -moz-column-count: 2;
         column-count: 2;
    padding: 2.25rem;
    margin: 2.25rem;
  }
}
.musician__bodytext {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
  padding: 1rem;
}
@media (min-width: 768px) {
  .musician__bodytext {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
}

.photogallery {
  background-color: #FAFAFA;
}
.photogallery__header {
  margin: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #323232;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .photogallery__header {
    margin: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .photogallery__header {
    margin: max(2.25rem, 5%);
  }
}
@media (min-width: 768px) {
  .photogallery__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-top: 3rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.photogallery-box {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media (min-width: 768px) {
  .photogallery-box {
    margin: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .photogallery-box {
    margin: max(2.25rem, 5%);
  }
}
@media (min-width: 768px) {
  .photogallery-box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .photogallery-box {
    margin: auto;
  }
}
.photogallery-box__container {
  text-align: center;
  margin: 0;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .photogallery-box__container {
    text-align: center;
    margin: 0;
    width: 30%;
  }
}
.photogallery-box__img {
  max-width: 100%;
  max-height: 100%;
}

.comment {
  margin: 1rem;
}
@media (min-width: 768px) {
  .comment {
    margin: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .comment {
    margin: max(2.25rem, 5%);
  }
}
.comment__header {
  margin: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #323232;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .comment__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    color: #323232;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .comment__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    color: #323232;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    margin: auto;
  }
}
.comment__form {
  display: flex;
  flex-direction: row;
}
@media (min-width: 768px) {
  .comment__form {
    width: 70%;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .comment__form {
    width: 50%;
    margin: auto;
  }
}
.comment__form-icon {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  background-color: #E1E1E1;
  display: inline-block;
  margin: 1rem;
}
@media (min-width: 768px) {
  .comment__form-icon {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 1280px) {
  .comment__form-icon {
    width: 3rem;
    height: 3rem;
  }
}
.comment__form-inputgroup {
  display: flex;
  flex-direction: row;
}
.comment__form-field {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 0.75rem;
}
@media (min-width: 768px) {
  .comment__form-field {
    padding: 1rem;
  }
}
.comment__form-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.comment__form-lable {
  padding-bottom: 0.25rem;
}

.button {
  padding: 1rem;
}
@media (min-width: 768px) {
  .button {
    justify-content: flex-end;
  }
}

button {
  height: 2.5rem;
  background-color: #323232;
  color: #FFFFFF;
  width: 100%;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  button {
    width: 30%;
  }
}
@media (min-width: 768px) {
  button {
    width: 30%;
  }
}

#name {
  border-radius: 0.25rem;
  min-height: 2.25rem;
  width: 100%;
  border: 0.063rem solid #AFAFAF;
  background-color: #E1E1E1;
}
@media (min-width: 768px) {
  #name {
    min-height: 3rem;
  }
}
@media (min-width: 1280px) {
  #name {
    min-height: 3rem;
  }
}

#commentarea {
  border-radius: 0.25rem;
  min-height: 3.75rem;
  width: 100%;
  border: 0.063rem solid #AFAFAF;
  background-color: #E1E1E1;
}
@media (min-width: 768px) {
  #commentarea {
    min-height: 3rem;
  }
}
@media (min-width: 1280px) {
  #commentarea {
    min-height: 3rem;
  }
}

::-moz-placeholder {
  color: #323232;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}

::placeholder {
  color: #323232;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}

.display {
  margin: 1rem;
}
@media (min-width: 768px) {
  .display {
    margin: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .display {
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .display {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .display {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
  }
}
.display__timestamp {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 7400;
  color: #323232;
}
@media (min-width: 768px) {
  .display__timestamp {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  .display__timestamp {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
.display__section {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
@media (min-width: 1280px) {
  .display__section {
    width: 65%;
    margin: auto;
    padding: 2.25rem;
  }
}
.display__divider {
  border-top: 0.063rem solid #E1E1E1;
  width: 100%;
}
@media (min-width: 1280px) {
  .display__divider {
    width: 65%;
    margin: auto;
  }
}
.display__avatar {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  background-color: #E1E1E1;
  display: inline-block;
  margin: 1rem;
}
@media (min-width: 768px) {
  .display__avatar {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 1280px) {
  .display__avatar {
    width: 3rem;
    height: 3rem;
  }
}
.display__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 65%;
}
.display__text-name {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 700;
  color: #323232;
}
@media (min-width: 768px) {
  .display__text-name {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .display__text-name {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 700;
  }
}

footer {
  background-color: #323232;
}

.footer {
  margin: 1rem;
}
@media (min-width: 768px) {
  .footer {
    margin: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    margin: max(2.25rem, 5%);
    margin-bottom: 0;
  }
}
.footer-logo {
  text-align: left;
}
@media (min-width: 768px) {
  .footer-logo {
    display: none;
  }
  .footer-logo__link {
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .footer-logo__link {
    text-decoration: none;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
@media (min-width: 768px) {
  .footer-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.footer-header__logo {
  display: none;
}
@media (min-width: 768px) {
  .footer-header__logo {
    display: inline-block;
    margin-left: 15vw;
    margin-right: 36px;
  }
}
@media (min-width: 1280px) {
  .footer-header__logo {
    display: inline-block;
    margin-left: 40vw;
    margin-right: 36px;
  }
}
.footer-header__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #FFFFFF;
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer-header__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    display: inline-block;
    width: 30%;
    padding: 2.25rem;
  }
}
.footer-header__imgcontainer {
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer-header__imgcontainer {
    display: inline-block;
    padding: 1rem;
    width: 30vw;
  }
}
@media (min-width: 1280px) {
  .footer-header__imgcontainer {
    display: inline-block;
    width: 30vw;
  }
}
.footer-header__img {
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2.25rem;
  }
}
.footer-body__section {
  padding: 16px;
}
@media (min-width: 768px) {
  .footer-body__section {
    width: 29%;
    padding: 36px;
  }
}
.footer-body__text {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .footer-body__text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    padding: 0;
  }
}
.footer-body__copy {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer-body__copy {
    padding-top: 2.25rem;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.footer-logo {
  text-align: left;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .footer-logo {
    display: none;
  }
}/*# sourceMappingURL=bio.css.map */