@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;

*{
    font-family: AvenirNext;
}
body{
    margin:0;
    padding:0;
}
h2{
    margin:0;
}
/*Index navigation*/

.home{
    @include tablet{
        display:flex;
    }

    &-logo{
        text-align: center;
        background-color: $bandsiteblack;
        padding: 1rem;
        @include tablet{
            text-align: center;
            background-color: $bandsiteblack;
            padding:2.25rem;
        }

    }
    &__image{
        text-align: center;
        width:50%;
        width:7.5rem;
        height:1.25rem;

    
    }
    &__link{
        text-decoration: none;
        @include text-styles(1.5rem,2rem,700);
        @include tablet{
            text-decoration: none;
            @include text-styles(3.75rem,4.25rem,700);            
        }

    }
    &-nav{
    background-color: $bandsiteblack;
    margin:0;
    padding:0;
    width:100%;
    @include tablet{
            width:100%;
    }
    &__list{
        display: flex;
        margin:0;
        padding:0;
        height:100%;
        width:100%;
        @include tablet{
            width:50%;
        }
    }
    &__item{
        width:50%;
        list-style: none;
        text-align: center;
        padding: 1rem;
        margin:0;
        @include tablet{
           width:30%;
           padding:2.25rem;
           margin:0;
           list-style: none;
           text-align: center;

    }
    }
    &__link{
        text-decoration: none;
        color:$white;
        @include text-styles(0.875rem,1.375rem,700);
        @include tablet{
            text-decoration: none;
            color:$white;
            @include text-styles(1.5rem,2rem,600);

        }

    }
    &__selected{
        border-bottom: 0.313rem solid $white;
    }
}
}


.hero{
    margin-top:0;
    padding:0;
    width:100%;
    height:25rem;
    background-image: url("../assets/Images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    &__text{
        @include text-styles(1.5rem,2rem,700);
        color:$white;
        padding-left: 1rem;
        padding-right: 1rem;
        @include tablet{
            @include text-styles(3.75rem,4.25rem,700);
            color:$white;
            padding-left: 2.25rem;
            padding-right: 2.25rem;
        }
        
    }
    &__overlay{
        width:100%;
        height:25rem;
        display: flex;
        align-items: center;
        background-color: rgba(#323232, 0.5);
        z-index: 1;
        position:absolute;
        
        

    }
}

.musician{
        margin:1rem;
        @include tablet{
        margin:2.25rem;
    }
        @include desktop{
        margin:max(2.25rem,5%);
    }
    &__header{
        display:inline-block;
        @include text-styles(1.5rem,2rem,700);
        color:$bandsiteblack;
        padding-top:1.5rem;
        padding-bottom:1rem;
        padding-left:1rem;
        padding-right:11rem;
        @include tablet{
            @include text-styles(2.25rem,2.75rem,700);
            color:$bandsiteblack;
            padding-top:3rem;
            padding-bottom:2.25rem;
            padding-left:2.25rem;
            padding-right:2.25rem;

        }
    }
    &-imgcontainer{
        text-align: center;
        margin:0;
        padding:0;
        &__img{
            max-width: 92%;
            max-height: 92%;
            padding-top:0;
            padding-left:1rem;
            padding-right:1rem;
            @include tablet{
                padding-top:0;
                padding-left:2.25rem;
                padding-right:2.25rem;
            }
        }
    }
    &__subheader{
        margin:1rem;
        @include text-styles(0.875rem,1.375rem,600);
        color:$bandsiteblack;
        padding-top: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin:0;
        text-align: left;
        @include tablet{
        margin:2.25rem;
        padding-top: 3rem;
        padding-left: 2.25rem;
        padding-right: 2.25rem;
            @include text-styles(1.5rem, 2rem,600)
        }
        @include desktop{
            margin:auto;
        }
    }
    &-bodytext__container{
        margin:1rem;
        @include desktop{
        margin:auto;
    }
        @include tablet{
            column-count:2;
            padding:2.25rem;
            margin:2.25rem;
        }
    }
    &__bodytext{
        @include text-styles(0.75rem,1.125rem,400);
        color:$bandsiteblack;
        padding:1rem;
        @include tablet{
            @include text-styles(0.875rem,1.375rem,400);
            margin:0;
            padding:0;
        }
    }
}





.photogallery{
    background-color: $alabaster;
    &__header{
        margin:1rem;
        @include tablet{
        margin:2.25rem;
    }
        @include desktop{
        margin:max(2.25rem,5%);
    }
        @include text-styles(1.5rem,2rem,700);
        color:$bandsiteblack;
        padding-top:1.5rem;
        padding-left:1rem;
        padding-right:1rem;
        @include tablet{
            @include text-styles(2.25rem,2.75rem,700);
            padding-top:3rem;
            padding-left:2.25rem;
            padding-right:2.25rem;
        }
    }
    &-box{
        margin:1rem;
        @include tablet{
        margin:2.25rem;
    }
        @include desktop{
        margin:max(2.25rem,5%);
    }
        display: flex;
        flex-direction: column;
        padding:1rem;
        @include tablet{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding:2.25rem;
        }
        @include desktop{
            margin:auto;
        }
        &__container{
            text-align: center;
            margin:0;
            padding-top: 1rem;
            @include tablet{
                text-align: center;
                margin:0;
                width:30%;
            }
        }
        &__img{
            max-width: 100%;
            max-height: 100%;
        }

    }
}

//Comment Section
.comment{
        margin:1rem;
        @include tablet{
        margin:2.25rem;
    }
        @include desktop{
        margin:max(2.25rem,5%);
    }

    &__header{
        margin:1rem;
        @include text-styles(1.5rem,2rem,700);
        color:$bandsiteblack;
        padding-top:1.5rem;
        padding-left:1rem;
        padding-right:1rem;
        padding-bottom: 1rem;
        @include tablet{
            @include text-styles(2.25rem,2.75rem,700);
            color:$bandsiteblack;
            padding-top:3rem;
            padding-bottom:2.25rem;
            padding-left:2.25rem;
            padding-right:2.25rem;

        }
        @include desktop{
            @include text-styles(2.25rem,2.75rem,700);
            color:$bandsiteblack;
            padding-top:3rem;
            padding-bottom:2.25rem;
            padding-left:2.25rem;
            padding-right:2.25rem;
            margin:auto;

        }

    }
    &__form{
        display:flex;
        flex-direction: row;
        @include tablet{
            width:70%;
            margin:auto;
        }
        @include desktop{
            width:50%;
            margin:auto;
        }
        &-icon{
        border-radius: 50%;
        width: 2.25rem;
        height: 2.25rem;
        background-color: $mercury;
        display: inline-block;
        margin:1rem;
        @include tablet{
            width:3rem;
            height:3rem;

        }
        @include desktop{
            width:3rem;
            height:3rem;

        }
        
        }
        &-inputgroup{
            display: flex;
            flex-direction: row;
            // width:100%;
        }
        &-field{
            display: flex;
            flex-direction: column;
            width:90%;
            padding:0.75rem;
            @include tablet{
                padding:1rem;
            }
        }
        &-text{
            display:flex;
            flex-direction: column;
            width:100%;
            box-sizing: border-box;
        }
        &-lable{
            padding-bottom: 0.25rem;
        }
    }

}
.button{
    padding:1rem;
    @include tablet{
            justify-content: flex-end;
            
    }

}
button{
    height:2.5rem;
    background-color: $bandsiteblack;
    color:$white;
    width:100%;
    border-radius: 0.25rem;
    @include text-styles(0.75rem,1.25rem,700);
    @include tablet{
        width:30%;

    }
    @include tablet{
        width:30%;

    }
}
#name{
    border-radius: 0.25rem;
    min-height:2.25rem;
    width:100%;
    border:0.063rem solid $silver;
    background-color: $mercury;
    @include tablet{
        min-height: 3rem;
    }
    @include desktop{
        min-height: 3rem;
    }

}
#commentarea{
    border-radius: 0.25rem;
    min-height:3.75rem;
    width:100%;
    border:0.063rem solid $silver;
    background-color: $mercury;
    @include tablet{
        min-height: 3rem;
    }
    @include desktop{
        min-height: 3rem;
    }
}

::placeholder{
    color:$bandsiteblack;
    @include text-styles(0.875rem,1.375rem,400);
}










.display{
        margin:1rem;
    @include tablet{
        margin:2.25rem;
    }
    @include desktop{
        margin:auto;
    }
    @include desktop{
        display: flex;
        flex-direction: column;
        margin:auto;
    }
    @include tablet{
        display: flex;
        flex-direction: column;
        width:70%;
        margin:auto;
    }
    &__timestamp{
        @include text-styles(0.813rem,1.125rem,7400);
        color:$bandsiteblack;
        @include tablet{
            @include text-styles(0.875rem,1.375rem,400);
        }
        @include desktop{
            @include text-styles(0.875rem,1.375rem,400);
        }
    }
    &__section{
        display:flex;
        flex-direction: row;
        padding:1rem;
        @include desktop{
            width:65%;
            margin:auto;
            padding:2.25rem;
        }
    }
    &__divider{
        border-top: 0.063rem solid $mercury;
        width:100%;
        @include desktop{
            width:65%;
            margin:auto;
        }
    }
    &__avatar{
        border-radius:50%;
        width:2.25rem;
        height:2.25rem;
        background-color:$mercury;
        display:inline-block;
        margin:1rem;
        @include tablet{
            width:3rem;
            height:3rem;

        }
        @include desktop{
            width:3rem;
            height:3rem;

        }

    }
    &__text{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        width:65%;
        &-name{
            @include text-styles(0.813rem,1.125rem,700);
            color:$bandsiteblack;
            @include tablet{
                @include text-styles(0.875rem,1.375rem,700);
            }
            @include desktop{
                @include text-styles(0.875rem,1.375rem,700);
            }
        }
    }
}

















footer{
    background-color: $bandsiteblack;

}
.footer{
    margin:1rem;
    @include tablet{
        margin:2.25rem;
    }
    @include desktop{
        margin:max(2.25rem,5%);
    }
    &-logo{
        text-align: left;
        @include tablet{
        display: none;
        &__link{
            text-decoration: none;
            @include text-styles(1.5rem,2rem,700);
            @include tablet{
            text-decoration: none;
            @include text-styles(2.25rem,2.75rem,700); 
        }
        }
        }
    }
    &-header{
        @include tablet{
            display:flex;
            flex-direction: row;
            align-items: center;

        }
        &__logo{
            display:none;
            @include tablet{
                display: inline-block;
                margin-left:15vw;
                margin-right:36px;
            }
            @include desktop{
                display: inline-block;
                margin-left:40vw;
                margin-right:36px;

            }
        }
            

        &__title{
            @include text-styles(1.5rem,2rem,700);
            color:$white;
            padding:1rem;
            @include tablet{
                @include text-styles(2.25rem,2.75rem,700);
                display: inline-block;
                width:30%;
                padding:2.25rem;}

        }
        &__imgcontainer{
            padding:1rem;
            @include tablet{
            display: inline-block;
            padding:1rem;
            width:30vw;
        }
            @include desktop{
                display: inline-block;
                width:30vw;
            }
        }   
        &__img{
            padding:1rem;
        }



    } 
    &-body{
        @include tablet{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding:2.25rem;
        }
        &__section{
            padding:16px;
            @include tablet{
            width:29%;
            padding:36px;
            }

        }
        &__text{
            @include text-styles(0.813rem,1.125rem,400);
            color:$white;
            margin:0;
            padding-left:1rem;
            padding-right:1rem;
            @include tablet{
                @include text-styles(0.875rem,1.25rem,400);
                padding:0;
            }
        }
        &__copy{
            width:100%;
            padding-top:1rem;
            padding-bottom:1rem;
            @include tablet{
                padding-top:2.25rem;
                padding-bottom:0;
                padding-left:0;
                padding-right:0;
            }
        }

    }  
    &-logo{
        text-align: left;
        padding-top:1.5rem;
        padding-left:1rem;
        padding-right:1rem;
        @include tablet{
            display: none;
        }
    }
}





