@use "./partials/variables" as *;
@use "./partials/mixins" as *;


body{
    margin:0;
    padding:0;
}
h2{
    margin:0;
    width:100%;
}
/*Index navigation*/

.home{
    @include tablet{
        display:flex;
    }

    &-logo{
        text-align: center;
        background-color: $bandsiteblack;
        padding: 1rem;
        @include tablet{
            text-align: center;
            background-color: $bandsiteblack;
            padding:2.25rem;
        }

    }
    &__image{
        text-align: center;
        width:50%;
        width:7.5rem;
        height:1.25rem;

    
    }
    &__link{
        text-decoration: none;
        @include text-styles(1.5rem,2rem,700);
        @include tablet{
            text-decoration: none;
            @include text-styles(3.75rem,4.25rem,700);            
        }

    }
    &-nav{
    background-color: $bandsiteblack;
    margin:0;
    padding:0;
    width:100%;
    @include tablet{
            width:100%;
    }
    &__list{
        display: flex;
        margin:0;
        padding:0;
        height:100%;
        width:100%;
        @include tablet{
            width:50%;
        }
    }
    &__item{
        width:50%;
        list-style: none;
        text-align: center;
        padding: 1rem;
        margin:0;
        @include tablet{
           width:30%;
           padding:2.25rem;
           margin:0;
           list-style: none;
           text-align: center;

    }
    }
    &__link{
        text-decoration: none;
        color:$white;
        @include text-styles(0.875rem,1.375rem,700);
        @include tablet{
            text-decoration: none;
            color:$white;
            @include text-styles(1.5rem,2rem,600);

        }

    }
    &__selected{
        border-bottom: 0.313rem solid $white;
    }
}
}


.hero{
    margin-top:0;
    padding:0;
    width:100%;
    height:25rem;
    background-image: url("../assets/Images/hero-bio.jpg");
    background-size: cover;
    background-position: center;
    &__text{
        @include text-styles(1.5rem,2rem,700);
        color:$white;
        padding-left: 1rem;
        padding-right: 1rem;
        @include tablet{
            @include text-styles(2.25rem,2.75rem,700);
            color:$white;
            padding-left: 2.25rem;
            padding-right: 2.25rem;
        }
        
    }
    &__overlay{
        width:100%;
        height:25rem;
        display: flex;
        align-items: center;
        background-color: rgba(#323232, 0.5);
        z-index: 1;
        position:absolute;
        
        

    }
}

.musician{
    &__header{
        @include text-styles(1.5rem,2rem,700);
        color:$bandsiteblack;
        padding-top:1.5rem;
        padding-bottom:1rem;
        padding-left:1rem;
        padding-right:11rem;
        @include tablet{
            @include text-styles(2.25rem,2.75rem,700);
            color:$bandsiteblack;
            padding-top:3rem;
            padding-bottom:2.25rem;
            padding-left:2.25rem;
            padding-right:2.25rem;

        }
    }
    &-imgcontainer{
        text-align: center;
        margin:0;
        padding:0;
        &__img{
            max-width: 92%;
            max-height: 92%;
            padding-top:0;
            padding-left:1rem;
            padding-right:1rem;
            @include tablet{
                padding-top:0;
                padding-left:2.25rem;
                padding-right:2.25rem;
            }
        }
    }
    &__subheader{
        @include text-styles(0.875rem,1.375rem,600);
        color:$bandsiteblack;
        padding-top: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin:0;
        text-align: left;
        @include tablet{
        padding-top: 3rem;
        padding-left: 2.25rem;
        padding-right: 2.25rem;
            @include text-styles(21.5rem, 2rem,600)
        }
    }
    &-bodytext__container{
        @include tablet{
            column-count:2;
            padding:2.25rem;
        }
    }
    &__bodytext{
        @include text-styles(0.75rem,1.125rem,400);
        color:$bandsiteblack;
        padding:1rem;
        @include tablet{
            @include text-styles(0.875rem,1.375rem,400);
            margin:0;
            padding:0;
        }
    }
}





.photogallery{
    background-color: $alabaster;
    &__header{
        @include text-styles(1.5rem,2rem,700);
        color:$bandsiteblack;
        padding-top:1.5rem;
        padding-left:1rem;
        padding-right:1rem;
        @include tablet{
            @include text-styles(2.25rem,2.75rem,700);
            padding-top:3rem;
            padding-left:2.25rem;
            padding-right:2.25rem;
        }
    }
    &-box{
        display: flex;
        flex-direction: column;
        padding:1rem;
        @include tablet{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding:2.25rem;
        }
        &__container{
            text-align: center;
            margin:0;
            padding-top: 1rem;
            @include tablet{
                text-align: center;
                margin:0;
                width:30%;
            }
        }
        &__img{
            max-width: 100%;
            max-height: 100%;
        }

    }
}





footer{
    background-color: $bandsiteblack;

}
.footer{
    &-logo{
        text-align: left;
        @include tablet{
        display: none;
        &__link{
            text-decoration: none;
            @include text-styles(1.5rem,2rem,700);
            @include tablet{
            text-decoration: none;
            @include text-styles(2.25rem,2.75rem,700); 
        }
        }
        }
    }
    &-header{
        @include tablet{
            display:flex;
            flex-direction: row;
            align-items: center;

        }
        &__logo{
            display:none;
            @include tablet{
                display: inline-block;
            }
        }
            

        &__title{
            @include text-styles(1.5rem,2rem,700);
            color:$white;
            padding:1rem;
            @include tablet{
                @include text-styles(2.25rem,2.75rem,700);
                display: inline-block;
                width:30%;
                padding:2.25rem;}

        }
        &__imgcontainer{
            padding:1rem;
            @include tablet{
            display: inline-block;
            padding:1rem;
        }
        }   
        &__img{
            padding:1rem;
        }



    } 
    &-body{
        @include tablet{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding:2.25rem;
        }
        &__section{
            @include tablet{
            width:29%;
            }

        }
        &__text{
            @include text-styles(0.813rem,1.125rem,400);
            color:$white;
            margin:0;
            padding-left:1rem;
            padding-right:1rem;
            @include tablet{
                @include text-styles(0.875rem,1.25rem,400);
                padding:0;
            }
        }
        &__copy{
            width:100%;
            padding-top:1rem;
            padding-bottom:1rem;
            @include tablet{
                padding-top:2.25rem;
                padding-bottom:0;
                padding-left:0;
                padding-right:0;
            }
        }

    }  
    &-logo{
        text-align: left;
        padding-top:1.5rem;
        padding-left:1rem;
        padding-right:1rem;
        @include tablet{
            display: none;
        }
    }
}





