@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;

*{
    font-family: AvenirNext;
}
body{
    margin:0;
    padding:0;
}
h2{
    margin:0;
}
/*Index navigation*/

.home{
    @include tablet{
        display:flex;
    }

    &-logo{
        text-align: center;
        background-color: $bandsiteblack;
        padding: 1rem;
        @include tablet{
            text-align: center;
            background-color: $bandsiteblack;
            padding:2.25rem;
        }

    }
    &__image{
        text-align: center;
        width:50%;
        width:7.5rem;
        height:1.25rem;

    
    }
    &__link{
        text-decoration: none;
        @include text-styles(1.5rem,2rem,700);
        @include tablet{
            text-decoration: none;
            @include text-styles(3.75rem,4.25rem,700);            
        }

    }
    &-nav{
    background-color: $bandsiteblack;
    margin:0;
    padding:0;
    width:100%;
    @include tablet{
            width:100%;
    }
    &__list{
        display: flex;
        margin:0;
        padding:0;
        height:100%;
        width:100%;
        @include tablet{
            width:50%;
        }
    }
    &__item{
        width:50%;
        list-style: none;
        text-align: center;
        padding: 1rem;
        margin:0;
        @include tablet{
           width:30%;
           padding:2.25rem;
           margin:0;
           list-style: none;
           text-align: center;

    }
    }
    &__link{
        text-decoration: none;
        color:$white;
        @include text-styles(0.875rem,1.375rem,700);
        @include tablet{
            text-decoration: none;
            color:$white;
            @include text-styles(1.5rem,2rem,600);

        }

    }
    &__selected{
        border-bottom: 0.313rem solid $white;
    }
}
}
.hero{
    margin-top:0;
    padding:0;
    width:100%;
    height:25rem;
    background-image: url("../assets/images/Photo-gallery-3.jpg");
    background-size: cover;
    background-position: center;
    &__text{
        &-h2{
        @include text-styles(1.5rem,2rem,700);
        color:$white;
        padding-left: 1rem;
        padding-right: 1rem;
        @include tablet{
        @include text-styles(2.25rem,2.75rem,700);
        color:$white;
        padding-left: 2.25rem;
        padding-right: 2.25rem;
        }
        }
        &-h3{
        @include text-styles(0.875rem,1.375rem,600);
        color:$white;
        padding-left: 1rem;
        padding-right: 1rem;
        @include tablet{
        @include text-styles(1.5rem,2rem,600);
        color:$white;
        padding-left: 2.25rem;
        padding-right: 2.25rem;
        }

        }

        
    }
    &__overlay{
        width:100%;
        height:25rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: rgba(#323232, 0.5);
        z-index: 1;
        position:absolute;
        
        

    }
}


button{
    height:3.5rem;
    background-color: $bandsiteblack;
    color:$white;
    width:90%;
    border-radius: 0.25rem;
    margin:0;
    padding:0;

    @include text-styles(0.625rem,1.25rem,700);
    &:hover{
        background-color: $bandsitedarkblack;
    }
}





.concerts{
    @include desktop{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    &__title{
        @include text-styles(1.5rem,2rem,700);
        color:$bandsiteblack;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1.5rem;
        @include desktop{
            padding-top:3rem;
            width:40%;
            text-align: center;
            @include text-styles(2.25rem,2.75rem,700)
        }
        @include tablet{
            padding-top:3rem;
            padding-bottom:2.25rem;
            padding-left:2.25rem;
            padding-right:2.25rem;
            @include text-styles(2.25rem,2.75rem,700)
        }

    }
    &__list{
        @include desktop{
            width:50%;
            padding-top: 3rem;
        }
        &-selected{
            background-color:$mercury;
        }
        &-ticket{
            display: flex;
            flex-direction: column;
            padding:1rem;
            @include tablet{
                padding:1.5rem 1rem;
            }
            &:hover {
                background-color:$alabaster;
            }
            @include tablet{
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
            }
        }
        &-subtitle{
            color:$mercury;
            @include text-styles(0.813rem,1.188rem,400);
            @include tablet{
                @include text-styles(0.875rem,1.375rem,400);
            }
            @include desktop{
                @include text-styles(0.875rem,1.375rem,400);
            }
        }
        &-content{
            color:$bandsiteblack;
            @include text-styles(0.813rem,1.188rem,400);
            @include tablet{
                @include text-styles(0.875rem,1.375rem,400);
            }
            @include desktop{
                @include text-styles(0.875rem,1.375rem,400);
            }
        }
        &-bold{
        @include text-styles(0.813rem,1.188rem,700);
        @include tablet{
                @include text-styles(0.875rem,1.375rem,400);
            }
         @include desktop{
                @include text-styles(0.875rem,1.375rem,400);
            }
        
        }
        &-divider{
        border-top: 0.063rem solid $mercury;
        width:100%;
        }
        &-button{
            padding:1rem;
            text-align: center;
            @include tablet {
                min-width: 9.375rem;
                padding-left:2rem;
                padding-right: 2rem;
        
                }
            @include desktop{
                min-width: 9.375rem;
                padding-left:2rem;
                padding-right: 2rem;

                 }
        }
    }
}

footer{
    background-color: $bandsiteblack;

}
.footer{
    &-logo{
        text-align: left;
        @include tablet{
        display: none;
        &__link{
            text-decoration: none;
            @include text-styles(1.5rem,2rem,700);
            @include tablet{
            text-decoration: none;
            @include text-styles(2.25rem,2.75rem,700); 
        }
        }
        }
    }
    &-header{
        @include tablet{
            display:flex;
            flex-direction: row;
            align-items: center;

        }
        &__logo{
            display:none;
            @include tablet{
                display: inline-block;
            }
        }
            

        &__title{
            @include text-styles(1.5rem,2rem,700);
            color:$white;
            padding:1rem;
            @include tablet{
                @include text-styles(2.25rem,2.75rem,700);
                display: inline-block;
                width:30%;
                padding:2.25rem;}

        }
        &__imgcontainer{
            padding:1rem;
            @include tablet{
            display: inline-block;
            padding:1rem;
        }
        }   
        &__img{
            padding:1rem;
        }



    } 
    &-body{
        @include tablet{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding:2.25rem;
        }
        &__section{
            @include tablet{
            width:29%;
            }

        }
        &__text{
            @include text-styles(0.813rem,1.125rem,400);
            color:$white;
            margin:0;
            padding-left:1rem;
            padding-right:1rem;
            @include tablet{
                @include text-styles(0.875rem,1.25rem,400);
                padding:0;
            }
        }
        &__copy{
            width:100%;
            padding-top:1rem;
            padding-bottom:1rem;
            @include tablet{
                padding-top:2.25rem;
                padding-bottom:0;
                padding-left:0;
                padding-right:0;
            }
        }

    }  
    &-logo{
        text-align: left;
        padding-top:1.5rem;
        padding-left:1rem;
        padding-right:1rem;
        @include tablet{
            display: none;
        }
    }
}
